.sidebar__header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-right: 1px solid lightgray;
}
.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
